@import '../../styles/variable';

.root {
  display: grid;
  grid-template-columns: 256px auto;
}

.navBar {
  height: 100vh;
  width: 256px;
  background: $primary;
  color: #fff;
  padding: 56px 32px;
  text-align: center;
  display: grid;
  grid-template-rows: 24px 110px auto 118px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-weight: bold;
    margin-left: 8px;
    font-size: 24px;
  }
}

.dropzone {
  background: #fff;
  border-radius: 25px;
  width: 190px;
  height: 50px;
  color: $primary;
  margin: 42px auto 0;
}

.dropzone_text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-weight: bold;

  span {
    margin-left: 8px;
  }
}

.message {
  color: #fff;
  font-size: 12px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26px;
}

.menu_row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px 0;
  padding: 5px 10px;
  border-radius: 5px;

  span:last-child {
    margin-left: 8px;
  }
}

.menu_row_active {
  background: #fff;
  color: $primary;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
}

.user_detail {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  align-items: flex-start;
}

.username {
  font-weight: bold;
  font-size: 24px;
}

.progress {
  background: #fff;
  width: 100%;
  height: 10px;
  margin-top: 15px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;

  span {
    border: 1px solid #fff;
    border-radius: 5px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 0;
    background: $primary;
  }
}

.size {
  margin-top: 15px;
}

.container {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 46px 65px 46px 74px;
}

.search {
  width: 100%;
  max-width: 443px;
  align-self: flex-end;
  height: 50px;
  border-radius: 25px;
  background: $bg;
  display: grid;
  grid-template-columns: 50px auto 30px;
  align-items: center;
}

.search_icon {
  background: $primary;
  color: #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_input {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 0 15px;

  &:focus {
    outline: none;
  }
}

.search_arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid $primary_text;
}

.content {
  margin-top: 30px;
}

.header {
  color: #000;
}

.table {
  margin: 30px -16px 0;
}

.cell {
  font-size: 16px !important;

  * {
    vertical-align: middle;
  }

  img {
    margin-right: 8px;
  }
}

.row {
  .cell {
    border: none !important;
  }

  &:hover {
    background: $hover;
  }
}

.more {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid transparent;

  &:hover {
    background: #fff;
    border: 1px solid $primary;
  }
}

.more_list {
  display: flex;
  flex-direction: column;
  margin: 15px 26px;
  min-width: 150px;

  span {
    margin: 10px 0;
  }
}
